body{
    background-image: url(https://plus.unsplash.com/premium_photo-1661301131500-fcdf547735fd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: aliceblue;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin: 20px;
}

#increment-btn {
    background: rgb(97, 185, 14);
    color: aliceblue;
}

#save-btn {
    background: rgb(17, 37, 128);
    color: antiquewhite;
}


#increment-btn:hover{
    background-color: #7e4294;
 }

#save-btn:hover{
  background-color: #7e4294
}

p{
    color: aliceblue;
}

